manifest {
    mainScript = 'main.nf'
    name = 'phage_similarity_wf'
}

// default parameters
params {
    cores = Runtime.runtime.availableProcessors().intdiv(4)
    max_cores = Runtime.runtime.availableProcessors()
    memory = '12'
    profile = false
    help = false
// inputs
    fasta = ''
    multi_fasta = ''
    
 
// folder structure
	output = "results"
	runinfodir = "Runinfo"
    // fasta_mod_dir = "Fasta"
    databases = 'nextflow-autodownload-databases'

// db parameters
    ncbi_db = false 
    phagescope_db = false 
    workdir =false
}


// runinfo
timeline {
  enabled = true
  overwrite = true 
  file = "${params.output}/${params.runinfodir}/execution_timeline.html"
}

report {
  enabled = true
  overwrite = true 
  file = "${params.output}/${params.runinfodir}/execution_report.html"
}


profiles {
    local {
        workDir = params.workdir
        includeConfig 'configs/local.config'
        executor {
            name = "local"
//            cpus = params.max_cores
//            memory = params.memory
            cpus = 8
            memory = '44 GB'
            
        }
        params {
            databases = 'databases/'
            tmp_storage = '/tmp/nextflow-phage_similarity'
        }
        process { errorStrategy = { task.exitStatus in [10,14,143,137,104,134,139] ? 'retry' : 'terminate' } }
    }


    docker {
        docker { enabled = true }
        includeConfig 'configs/container.config'
    }

    stub {
        params {
            max_cores = 2
            cores = 2
        }
    }

    
    ukj_cloud { 
        workDir = params.workdir
        docker { enabled = true }
        process { 
                        executor = 'google-batch' 
                        errorStrategy = { task.exitStatus in [10,14,143,137,104,134,139] ? 'retry' : 'terminate' }
                        maxRetries = 3
                        withLabel: noDocker           { container = 'nanozoo/template:3.8--d089809' }
                }
        params {
            databases = 'gs://databases-case-grp/phage_similarity_db/'
            //tmp_storage = 'gs://backup-case-mateusz/anno_bench_tmp2/'
            tmp_storage = 'gs://case-tmp-dir/nextflow-phage_similarity/'
        }
        bucketDir = 'gs://case-tmp-dir/phage_similarity/'
        google {  
            project = 'case-dev-302214'
            location = 'europe-west4'
	    batch {  
            	  spot = true
            	  bootDiskSize = 100.GB
            	  maxSpotAttempts = 4
            }
	    }
        includeConfig 'configs/container.config'
        includeConfig 'configs/nodes.config'
    }

}