process {
    withLabel: python           { container = 'nanozoo/template:3.8--ccd0653' }
    withLabel: samtools         { container = 'nanozoo/samtools:1.9--76b9270' }
    withLabel: sourmash         { container = 'nanozoo/sourmash:4.5.0--e12a57a' }
    withLabel: ubuntu           { container = 'nanozoo/basics:1.0--962b907' }
}
